{% extends 'base.htm' %}
{% block content %}
<div >
  <h1 class="display-4">About IITH</h1>
  <strong>IIT Hyderabad started functioning in the year 2008 with 3 B. Tech. programs; Computer Science and Engineering, Electrical Engineering and Mechanical Engineering. Each of these programs had an intake of 40 students each through IIT-JEE. In 2009, IITH started admitting Ph. D. students, and in 2010, almost all engineering departments started offering M. Tech. programs. M. Sc. programs were started in the year 2010 under the Department of Chemistry, and in the subsequent years, Department of Physics, and Department of Mathematics started their M. Sc. programs. M. Phil. programs were started in the year 2012 by the Department of Liberal Arts, the youngest department of IITH. Department of Design started M. Des. and Ph. D. programs in the year 2014. Today, 8 B. Tech., 16 M. Tech., 3 M. Sc., 5 M. Phil., 1 M. Des., and Ph. D. in all branches of engineering, science, liberal arts and design are offered by IITH.

IIT Hyderabad has taken lead in innovating teaching practices and sharing the outcomes and learning.</strong>
</div>
{% endblock %}
