{% extends 'base.htm' %}
{% block content %}
<div class="">
  <h1 class="display-4">Contact Us</h1>
<br>
  <div class="card" style="width: 25 rem;">
  <div class="card-body">
    <img class="card-img-top" src="../static/gvvsharma.jpg" alt="Dr. G. V. V. Sharma">
    <h5 class="card-title">Dr. G. V. V. Sharma</h5>
    <p class="card-text">Coordinator, EENRC - IITH <br>
Assoc. Prof.,<br> Dept. of Electrical Engineering <br>
IIT Hyderabad <br>
</p>
<p> Email: eenrc@iith.ac.in </p>
    <!-- <a href="#" class="btn btn-primary">Know me</a> -->
  </div>
</div>
</div>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <address>
      <h3> Correspondence Address:</h3> <br>

Single Board Computer Lab <br>


A-719, Electrical Engineering Department <br>
Indian Institute of Technology <br>
Kandi, Sangareddy <br>
Hyderabad, Telangana <br>
India-502285

      </address>
    </div>

    <div class="col-md-6">
      <iframe style="width:600px;height:300px" jsname="L5Fo6c" onload="this.setAttribute('data-iframe-loaded', true)" class="YMEQtf" frameborder="0" aria-label="Map, Academic Block A, IITH" src="https://maps-api-ssl.google.com/maps?hl=en&amp;ll=17.595,78.123647&amp;output=embed&amp;q=IITH+Main+Rd,+Kandi,+Telangana+502329,+India+(Academic+Block+A,+IITH)&amp;z=17" allowfullscreen></iframe>
    </div>

  </div>
</div>
<br><br>
<hr>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="margin-bottom:80px">
  <center> <em> Feel free to contact us at <a href="#"> eenrc@iith.ac.in </a> for any clarifications or suggestions.</em> </center>
</nav>
{% endblock %}
