{% extends 'base.htm' %}
{% block content %}
<div >
  <h1>Courses</h1>
  <div class="row">
    <div class="col-md-6">
      <iframe style="width:500px;height:250px" jsname="L5Fo6c" onload="this.setAttribute('data-iframe-loaded', true)" class="YMEQtf" frameborder="0" aria-label="YouTube Video, Introductory Video for the Course on Arduino For Electrical Engineers" src="https://www.youtube.com/embed/lzd07R9oBD4" allowfullscreen="" data-iframe-loaded="true">
      </iframe>
    </div>
    <div class="col-md-6">
      <h5>Arduino for Electrical Engineering</h5>
      This course is an introduction to the applications of Arduino in Electrical Engineering. The course starts with the implementation of Digital Logic and moves on to Assembly and Embedded C programming through Arduino. This course would be based around applying conventional methods on the hardware in a hands-on approach fashion.
    </div>

  </div>

</div>
{% endblock %}
