{% extends 'base.htm' %}
{% block content %}

<hr style="height:2px">
<br><br>
<div class="row">
  <strong style="font-weight:bold;font-family:Merriweather,serif;font-size: 18px;line-height: 1.8;padding-top: 16px;text-align: justify;white-space: normal;">
    MHRD has identified Electrical Engineering National Resource Centre (EENRC), IIT Hyderabad as one of the 75 discipline-specific National Resource Centres (NRCs) under PMMMNMTT Scheme for conducting online refresher courses through SWAYAM MOOC platform for the Faculties of all educational institutions.
<br>
<br>
All the NRCs are entrusted with the development of course materials as per the SWAYAM pattern. Accordingly, NRCs will develop course materials which will then be submitted to AICTE for technical assessment, under MHRD supervision.
</strong>
</div>

{% endblock %}
